{{#>app}}
  {{#*inline 'content'}}
<div class="row">
<div class="col-md-6 col-lg-4 mb-2">
<img src="/img/Без названия.jpg" class="img-fluid rounded">
</div>
<div class="col-md-6 col-lg-4 mb-2">
<img src="/img/Flip_4_Banner_Desk_IMG_2x (1).jpg" class="img-fluid rounded">
</div>
<div class="col-md-6 col-lg-4 mb-2">
<img src="/img/refurb-ipad-pro-11-wifi-silver-2020.jpg" class="img-fluid rounded">
</div>
</div>
  {{/inline}}
{{/app}}